/* float navigationk links to the left */
.nav-link {
    float: right;
}
/* container-fluid classes */
#container-fluid {
    line-height: 150%;
    font-size: 24px;
    margin-left: 30px;
    margin-right: 475px;
    margin-top: 60px;
    margin-bottom: 10px;
    background-color: rgba(253, 246, 246, 0.87);
    padding: 10px 20px 20px 30px;
}
/* image in the index/about link*/
.rounded {
    padding: 15px 20px 20px 15px;
    width: 300px;
    height: 300px;
}
/* headers for sections */
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42px;
    color: rgb(131, 50, 50);
}
/* background pattern */
body {
    background: url('https://static.vecteezy.com/system/resources/previews/000/100/314/non_2x/trendy-abstract-geometric-pattern-background-vector.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* all main cotainer classes */
.container {
    margin-left: 30px;
    margin-right: 200px;
    margin-top: 60px;
    margin-bottom: 10px;
    background-color: rgba(253, 246, 246, 0.87);
    padding: 10px 20px 20px 30px;
}
/* images for portfolio */
.img-fluid {
    width: 430px;
    height: 300px;
    margin: 10px 10px 10px 10px;
}
/* all sticky footers */
.footer-margin {
    text-align: center;
    background: url('https://media.istockphoto.com/vectors/abstract-simple-geometric-vector-seamless-pattern-with-gold-line-on-vector-id1160720443?k=6&m=1160720443&s=612x612&w=0&h=oLzqIKD0IjLngapr4l2Vu-0CMTDajzN_V6OgpknRm4g=');
    height: 100px;
}
/* body is already responsive through bootstrap, but I added this just in case */
@media screen and (max-width: 400px) {
    body {
        background-color: lightgreen;
    }

}